body {
    font-family: 'Kanit', sans-serif;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);

}

#countries{
    width: 60%;
    margin: 0 auto;
}

.card {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 5px dashed slategray;
    margin-bottom: 10%;
}

#flag img {
    width: 70%;
    height: 22em;
    margin-left: 15%;
}

.card-body {
    margin-left:25%;
}

.info {
    margin-left: 5%;
    font-size: 1.5em;
    letter-spacing: 6px;
}